.nav{
    padding-top:10px;
    color:white;
}
.nav.navbar-nav.navbar-right li a {
    color: white;
}
.logo{
    text-align: center;
    font-size:30px;
    font-weight: 600;
    color: #ce0505;
    width:40px;
    height:40px;
    background-color: white;
    border-radius: 20px;
    padding-top: 7px;    
}
.navbar-inverse .navbar-toggle:focus,.navbar-toggle:hover {
    border-color: white;
    background-color: #ce0505;
}
.navbar-inverse .navbar-toggle {
    border-color: white;
    background-color: #ce0505;
}
.navbar-brand{
    margin-bottom: 20px;
}
.navbar{
    border-radius: 0px;
    height: auto;
    padding-left: 8%;
    padding-right: 8%;
}
.navbar-inverse{
    background-color: #ce0505;
    border-color: #ce0505;
}
.heading{
    color: #192f60;
    font-size: 36px;
    font-family: poppins-Bold;
    font-weight: bold;
}
.heading2{
    color: #192f60;
    font-size: 18px;
    font-family: poppins-Bold;
    font-weight: bold;
}
.heading3{
    color: #192f60;
    font-size: 16px;
    font-family: poppins;
    font-weight: normal;
}
.filter{
    background-color: white;
    margin-right:6%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding-top: 20px;
    margin-bottom: 20px;
}

.selectLocation{
    margin-left:8%;
    height: 40px;
    margin-bottom: 20PX;
}
.options{
    color: #8c96ab;
    font-weight: normal;
}
.cuisineDiv{
    margin-top: 40px;
}
.costDiv{
    margin-top: 20px;
}
.sortDiv{
    margin-top: 20px;
    margin-bottom:20px ;
}
.tile{
    background-color: white;
    padding-left: 0%;
}
.tileComponent{
    background-color: white;
    padding:2%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    margin-bottom: 20px;
}
.hotelName{
    font-size: 30px;
    color: #192f60;
    font-family: poppins;
}
.imgDiv{
padding:0;
}
.hotelImg{
    margin-top: 20px;
    width: 150px;
    height: 100px;
    border-radius: 20px;
}
.detailsDiv{
    margin-top: 25px;
}
.fort{
    color: #192f60;
    font-size: 16px;
    font-weight: 500;
    font-family: poppins;
}
.hotelAddress{
    color:#636f88;
}
.detailsSub{
    color: #8c96ab;
    font-weight: normal;
    font-family: poppins;
}
.detailsSub2{
    color: #192f60;
    font-size: 14px;
    font-weight: 500;
    font-family: poppins;  
}
.pagination a{
    color: #192f60;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px #192f60;
    transition: background-color .3s;
   }
   .pagination a.active {
    background-color: dodgerblue;
    color: white;
    }
    .pagination a:hover:not(.active) {background-color: #ddd;}
    .ss{
        height: 30px;
        width: 30px;
        border: 1px solid gray;
        border-radius: 4px;
        padding-top: 3px;
    }




    