    /*Seacrch division*/
    .searchdiv{
        background-image: url("../images/food-wallpaper.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        border: solid rgba(5, 17, 29, 0.979) 1px;
    }


    /* sign in/up css*/
    .signInUp{
        margin-top: 30px;
        margin-right: 8%;
        margin-bottom: 80px;
    }
    .text{
        color:white;
        font-weight: 700;
        font-size:16px;
    }
    .border1{
        float:right;
        width:100px;
        height: 46px;
        margin-left:26px ;
        padding-top: 10px;
        padding-left: 12px;
    }
    .border2{
        float:right;
        border: solid rgb(147, 197, 245) 1px;
        width:181px;
        height: 46px;
        margin-left:26px ;
        padding-top: 10px;
        padding-left: 18px;
        border-radius: 6px;
    }


    /* logo css*/
    .logo{
        background-color: white;
        font-size: 70px;
        color:#eb2929;
        font-weight: bold;
        width:147px;
        height:147px;
        border-radius: 74px;
        padding-top:20px;
        margin-bottom:20px;
    }

    .searchStatement{
        font-size: 36px;
        color: white;
        text-align: center;
        margin-bottom: 38px;
    }

    /* searching options*/
    .locationSelector{
        text-align: center;
        margin-bottom: 30px;
    }
    .searchopt{
        width:300px ;
        height: 50px;
        font-size: 16px;
        margin: 10px;
    }

    /* Quick search division*/
    .QuickSearchDiv{
        margin-top: 48px;
        margin-bottom: 60px;
    }
    .quickSearchHeading{
        font-size: 30px;
        font-weight: bold;
        color: #192f60;
        line-height: 1.1;
    }
    .quickSearchStatement{
        font-size:  18px;
        color: #8c96ab;
    }
    
    .tileContainer{
        width: 32%;
        margin-right: 15px;
        float: left;
        margin-top: 20px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    }
    .tileContainer:hover{
        transform: scale(1.05,1.05);
    }
    .tileComponent1{
        padding:0;
    }
    .imageStyle{
        width: 100%;
        height: 140px;
    }

    .tileComponent2{
       padding-top: 20px;
    }
    .componentHeading{
        font-size: 18px;
        font-weight: bold;
        color: #192f60;
        margin-bottom: 10px;
    }
    .componentSubHeading{
        color:#8c96ab ;
    }

/* For Different Screen Size*/
    @media screen and (max-width: 1200px){
        .tileContainer{
            width:31%;
        }
        .container {
            width: 100%;
        }
    }

    
    
    @media screen and (max-width: 800px) {
        .logo{
            font-size: 56px;
            width:120px;
            height:120px;
            border-radius: 60px;
            padding-top:15px;
        }
        .border1{
            float:right;
            width:100px;
            height: 46px;
            margin-left:26px ;
            padding-top: 10px;
            padding-left: 12px;
        }
        .border2{
            float:right;
        
        }
        .signInUp{
            margin-right: 2%;
            margin-bottom: 100px ;
        }
        .tileContainer{
            width:46%;
            margin-right: 15px;
    
        }
    }

    @media screen and (max-width: 600px) {
        .logo{
            font-size: 46px;
            width: 95px;;
            height:95px;
            border-radius: 48px;
            padding-top:11px;
        }
        .border1{
            float:left;
        }
        .border2{
            float:right;
        }
        .signInUp{
            margin-right: 2%;
            padding-left: 20px;
            margin-bottom: 100px ;
        }
        .tileContainer{
            width:88%;
            margin-left: 30px;
            margin-top: 30px;
        }
    }